<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>
	<body>
		<nav
			class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between mb-4 p-4"
		>
			<a class="navbar-brand" href="/">Matrix Master Community</a>

			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<p class="nav-link">Welcome</p>
				</li>
				<li class="nav-item active">
					<a href="/logout" class="nav-link">Logout</a>
				</li>

				<li class="nav-item active">
					<a href="/login" class="nav-link">Login</a>
				</li>
				<li class="nav-item active">
					<a href="/signup" class="nav-link">Sign up</a>
				</li>
			</ul>
		</nav>
		<div class="container">
			<form action="/" method="post">
				<div class="form-group mb-3">
					<label for="title">Title</label>
					<input class="form-control" id="title" name="title" />
					<label for="question">Question</label>
					<textarea
						class="form-control"
						id="question"
						name="question"
						rows="3"
					></textarea>
				</div>
				<button type="submit" class="btn btn-success">Send!</button>
			</form>

			<div class="users">
				<h2 class="m-auto mb-4 text-center">All Posts</h2>
				<div class="row row-cols-4 g-4">
					<div class="col">
						<div class="card h-100 border-info">
							<img
								src="https://www.ldatschool.ca/wp-content/uploads/2017/07/shutterstock_230363287-1024x1024.jpg"
								class="card-img-top"
								alt="..."
							/>
							<div class="card-body">
								<h5 class="card-title">Title</h5>
								<p class="card-text">Message</p>
								<div class="mb-2">
									<a href="/posts/create/" class="fst-italic">See more...</a>
								</div>
							</div>
							<div class="card-footer">
								<small class="text-muted">Posted by ... at: ... </small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center mt-4"><%- include("./partials/footer.ejs") %></div>
	</body>
</html>
